*.o
*.out
*.d
*.obs
*.ini
*.local
Release
Release_Build
Debug
Debug_Build
__history
__astcache
bin/rtkrcv
bin/rtkrcv.nav
data/igs14.atx
*.rtcm3
*.dgs
*.rtcm3.tag
*.dgs.tag
data/out
data/REPLAY_DATA_FOR_QZS6C
